@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.menu-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #222;
	color: white;
	height: 110px;
	padding: 1rem;
}

.menu{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	
}
.menu >li{
	padding: 10px;
	overflow: hidden;
}