@charset "utf-8";
/* CSS Document */

.red{
	background: red;
	width: 500px;
	height: 50px;
}
.blue{
	background: brown;
	width: 500px;
	height: 50px;
	position: sticky;
	top: 10px;
	right: 10px;
}
.green{
	background: green;
	min-width: 500px;
	height: 50px;
	
}
.purple{
	background: purple;
	width: 50%;
	min-width: 100px;
	height: 50px;
	
}

.flexbox{
	background:#638A9E;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.flexboxgalleri{
	background-image: url("../{9E5CB89E-C286-4A67-B518-D5E020C37B6F}.png");
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.text{
	background-color: white;
	height: 230px;
	width: 200px;
}
.flexbox p{
	font-size: 25px;
	background: lightgray;
	text-align: center;
	width: 200px;
	margin: 2px;
}

.button{
background: #638A9E
	
}
.menu-bar {
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #638A9E;
	color: white;
	height: 10px;
	padding: 1rem;
	
	
}

.menu1 {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.menu1 > li {
	padding: 10px;
	overflow: hidden;
}

.menu-box {
	background: #638A9E;
	height: 100%;
	width: 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
	display: block;
	background: white;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms;
	border-radius: 2px;
}

.menu1{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}


	

.menu-icon::before {
	
	content:"";
	margin-top: -8px;
	
}
.menu-icon::after {
	content:"";
	margin-top: 8px;
}

#menu-activate:checked + .menu-box, .menu-icon::before {
	margin-top: 0px;
	transform: rotate(45deg)
}

#menu-activate:checked + .menu-box, .menu-icon {
	background: rgba(255, 255, 255, 0)
}

#menu-activate:checked + .menu-box, .menu-icon::after {
	margin-top: 0px;
	transform: rotate(-45deg)
}

#menu-activate {
	
	display: none;
}

@media(max-width: 700px) {
	
	.menu-box {
		display: flex;
	}
	
	.menu1 {
		position: absolute;
		top: 0;
		margin-top: 100px;
		left:0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		
	}
	
	#menu-activate ~ .menu1 li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms;
		display: none;
	}
	
	#menu-activate:checked ~ .menu1 li {
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms;
		display: block;
	}
	
	.menu1 > li {
		display: flex;
		margin: 0;
		padding: 0.5em;
		width: 100%;
		color: white;
		background: #222;
	}

}
 .welcome h1 {
    font-family: "skope", serif;
	font-weight: 3300px;
	font-style: normal;
}

.flexbox{
	background:white;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: space-around;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  text-align: center;
  padding: 50px 20px 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2.2rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.kontakt-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 40px;
}

.kontakt-form {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.kontakt-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.kontakt-form input,
.kontakt-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.kontakt-form input:focus,
.kontakt-form textarea:focus {
	
  outline: none;
}

.kontakt-form button {
  padding: 12px;
  background-color: #638A9E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.kontakt-form button:hover {
 
}

.kontakt-info {
  flex: 1;
  min-width: 250px;
}

.kontakt-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
  font-size: 0.9rem;
}